/* App.css */

body {
  background-image: url(music.jpg);
  /* background-repeat: round; */
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.App {
  
}
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.login-form {
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 76px;
  width: 300px;
  background: url(Components/music2.jpg);
  background-repeat: repeat-y;
  background-size:100%;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Updated to column layout */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 20px;
}

a, button {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #243563;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a:hover, button:hover {
  background-color: chocolate;
}

.login-button {
  margin-top: 20px; /* Adjusted margin for login button */
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #243563;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: chocolate;
}

.user-info-box {
  display: grid;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #282c30;
  padding: 10px;
  border: 1px solid #334b65;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.show-info-button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #243563;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.show-info-button:hover {
  background-color: chocolate;
}
.columns-both {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.naziv {
  /* move the text all the way to the left */
    text-align: left;
}

.get-favorites-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #243563;
  border: 1px;
  border-color: #334b65;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-favorites-button:hover {
  background-color: chocolate;
}